@charset "utf-8";
---------------------------初始化-------------------------------------
html,body,div,ul,ol,li,dl,dd,dt,h1,h2,h3,h4,h5,h6,form,input,textarea,p {margin:0px;padding:0px;}
ul {list-style:none;}  
img a.img {border:none;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
 
 /*导航样式*/
.nav{
	height:60px;
	background-color:#333333;
}
.nav img{
	padding-left: 40px;
	padding-top:10px;
}
.nav_bar{
	float:right;
	line-height: 60px;
	padding-right: 20px;	
}
.nav_bar li{
	display:inline;
}
.nav_bar li a{
	color:#fff;
	font-size: 12px;
	font-weight: bold;
}
.nav_bar .nav_graybar a
{
	color:#a7a888;
}

/*主体公共样式*/
.background{
	background-color: #dedede;
	padding: 10px 0px;
}
.background .main_part{
	margin:20px;
	background-color: #fff;
	-moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    padding:0px 25px 20px 25px;
    font-family: Arial,Helvetica,sans-serif;
}
.background .main_part p{
	font-size:14px;
}
.main_part header{
	padding-bottom:15px;
}
.main_part header h2{
	font-weight: 900;
	padding-top: 40px;
	padding-bottom:15px;
}
.main_part header h3{
	padding-bottom: 15px;
	font-color:gray;
}
.main_part header span{
	font-size:12px;
	font-color:gray;
}

.main_part .part_para{            /*保证p标签的内容不自动换行，并且剩余部分以省略号的形式进行显示*/
	width:100%;               /*父元素没有设置width，强制不换行失效   内联样式可以强制不换行*/
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-bottom:0px;
	padding-bottom:0px;      /*p内的行间距以及首字母缩进如何设置*/
}


/*图片部分样式*/
.main_part .panel{
	padding-left:50px;
}
.main_part .picture{
	width:120px;
	height:120px;
	border:solid gray 1px;
	margin-bottom: 30px;
}
.main_part .picture img{
	width:100px;
	height:80px;
	padding-left: 10px;
}
.main_part .picture p{
	padding-top:10px;
	padding-left:30px;
	padding-bottom: 5px;
}

/*最后一篇文章部分样式*/
.main_part .rank{
	padding-top:20px;
	padding-left:30px;
	font-weight:bold;
	padding-bottom:10px;
}
.main_part table{
	margin:10px 0px;
	width:100%;
	background-color: gray;
}
.main_part table td{
	background-color: #fff;
}
.main_part table thead{
	background-color: #000;
	color:#fff
}
.main_part table tr{
	height:20px;
	line-height:20px;
	text-align: center;
}
.main_part table tfoot td{
	background-color: gray;
	font-weight:bold;
}

/*侧栏样式*/
.main_part .sidebar{
	padding:25px 0px;
}
.main_part .sidebar .sidebar_main{
	font-size:14px;
	margin-left:30%;
    padding-top:20px;
}
.main_part .sidebar .sidebar_main1{
	font-size:14px;
	margin-left:35%;
    padding-top:20px;
}
.main_part .sidebar .sidebar_mailpass{
	margin-left:27%;
}
.main_part .sidebar .sidebar_main p{
	padding-top:9px;
	font-size:12px;
    color:gray;
	padding-left:110px;
}
.main_part .sidebar button{
	width:100%;
	height:40px;
	background-color: blue;
	color:#fff;
	font-size:14px;
	border:none;
	margin-top:20px;
	border-radius: 5px;
	font-weight: bold;
}

#line{
	margin-left: -15px;
	margin-bottom:-30px;
}
#line_float{
	padding-left:15px;
}

/*底部样式*/
.main_foot{
	height:50px;
	width:100%;
	background-color:#000;
	color:#fff;
	line-height: 50px;
	text-align: center;
}